body {
  padding: 20px;
  margin: 0;
}
h1,
h2,
p,
ul,
li {
  font-family: lato, sans-serif;
}
h3 {
  text-align: center;
  color: darkblue;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #163cba;
  padding: 0;
}
ul.header li a {
  color: #fff;

  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

img {
  width: 25%;
  height: 25%;
}

.heading {
  max-width: 40%;
}
